.infoItemWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 130px;

	.infoTopRow {
		display: flex;
		align-items: center;
		margin-bottom: 80px;
		max-width: 500px;
		font-size: var(--font-m);

		.infoAvatar {
			border-radius: 50%;
			width: 130px;
			height: 130px;
			margin-inline-end: 50px;
		}
		// .topRowTextDiv {
		// 	.text {
		// 	}
		// }
	}
	.infoBottomRow {
		font-size: var(--font-s);
		max-width: 500px;
		color: black;
	}

	.editWrapper {
		display: flex;
		flex-direction: column;
		justify-content:center ;
		align-items: flex-start;
		font-size: var(--font-l);
		border: 2px solid #666;
		padding: 20px 40px;
		border-radius: 10px;
		.editInput {
			display: flex;
			label {
				margin-right: 30px;
				font-weight: bold;
				width: 140px;
			}
			input {
				font-size: var(--font-l);
				border: none;
				outline: none;
				background-color: var(--input-edit-color);
				padding: 5px 8px;
				border-radius: 5px;
			}
		}
		.firstName {
			margin-bottom: 20px;
		}
		.lastName {
			margin-bottom: 20px;
		}
		.userName {
			margin-bottom: 20px;
		}
		.text {
			display: flex;
			.textArea {
				margin-bottom: 10px;
				border: none;
				outline: none;
				font-size: var(--font-m);
				background-color: var(--input-edit-color);
				border-radius: 5px;
				margin-left: -10px;
				padding: 5px 8px;

			}
		}
		.editConfirm {
			font-size: var(--font-l);
			padding: 5px 10px;
			background-color: rgb(81, 170, 88);
			border-radius: 5px;
			border: none;
			outline: none;
			color: #fff;
		}
	}
}
